<a href="https://colab.research.google.com/github/mahayel374-pixel/python-class-program/blob/main/lab3_input_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=33
b=200
if b>a:
  print("b is greater than a")

b is greater than a

In [ ]:
a=10
b=20
if(a<b):print("b is greater than a")

b is greater than a

In [ ]:
a=200
b=33
c=500
if(a>b and c>a):
  print("At least one of the conditions is True")

At least one of the conditions is True

In [ ]:
a=200
b=33
c=500
if(a>b or a>c):
  print("At least one of the condition is True")

At least one of the condition is True

In [ ]:
a=200
b=33
if b>a:
  print("bis greater than a")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
n = int(input("enter the  number:\t"))
if(n%2==0):
  print("the number is a even number",n)
else:
  print("The numberis a odd number",n)

enter the  number:	4
the number is a even number 4

In [ ]:
x=int(input())
if x>10:
  print("Above ten,")
  if x>20:
    print("and also above 20!")
else:
  print("but not above20.")

19
Above ten,

In [ ]:
num = -15
if num >= 0:
  if num == 0:
    print("zero")
  else:
    print("Positive number")
else:
    print("Negative number")

Negative number

In [ ]:
a=33
b=33
if b>a:
  print("b is greater than a")
elif b<a:
  print("b is smaller than a")
elif a==b:
  print("a and b are equal")

a and b are equal

In [ ]:
num =  3.4
if num > 0:
  print("positive number")
elif num == 0:
  print("Zero")
else:
  print("Negative number")

positive number

In [ ]:
a = float(input())
b = float(input())
c = float(input())
d = float2(input())
total = a+b+c+d
agg = total/4
if agg>=75:
  print("Distinction")
elif agg >= 60 and agg < 75:
  print("first")
elif agg >= 50 and add < 60:
  print("second")
elif agg>=40 and agg < 50:
  print("third")
else:
  print("fail")

98
0
0
3
fail

In [ ]:
a = int(input())
b = int(input())
c = int(input())
disc = b**2-4*a*c
print(disc)
if disc>0:
  root_type = "real"
  root1 = (-b+(disc**0.5))/(2*a)
  root2 = (-b-(disc**0.5))/(2*a)
  print(root1)
  print(root2)
if disc == 0:
  root_type = "equal"
  root1 = root2 = -b/(2*a)
  print(root1,root2)
if disc < 0:
  root_type = "imag"
  real = -b/(2*a)
  img = (-d**0.5)/(2*a)
  root1 = complex(real+img)
  root2 = complex(real+img)
  print(root1)
  print(root2)

66
88
44
-3872
(-0.6797882636937036+0j)
(-0.6797882636937036+0j)

In [ ]:
salary = int(input())
gender = input()
if gender == 'male':
  bonus = 0.5*salary
elif gender == 'female':
  bonus = 0.1*salary
if salary < 10000:
  bonus = bonus+0.02*salary
total = bonus+salary
print(total,bonus)

10000
female
11000.0 1000.0

In [ ]:
n = int(input())
i=1
while i<n:
  print(i)
  i= i+1

3
1
2

In [ ]:
n = int(input())
i = 10
while i<n :
  print(i)
  i+=1
else:
  print("i is no longer less than",n)

0
i is no longer less than 0

In [ ]:
i=1
while i <= 3:
  print(i,"Outer loop is executed only once")
  j=4

  while j <= 3:
    print("Inner loop is executed until to completion ")
    j+=1
  i+=1

1 Outer loop is executed only once
2 Outer loop is executed only once
3 Outer loop is executed only once

In [ ]:
n = int(input())
i=1
while i<=n:
  j=1
  while j<=10:
    print(i*j,end=" ")
    j+=1
  print()
  i+=1

7
1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70

In [ ]:
n = int(input())
i = 1
sum = 0
while i<=10:
  sum = sum + (1/i**2)
  i = i + 1
  print(sum)

4
1.0
1.25
1.3611111111111112
1.4236111111111112
1.4636111111111112
1.4913888888888889
1.511797052154195
1.527422052154195
1.5397677311665408
1.5497677311665408

In [ ]:
x = range(10)
for n in x:
  print(n)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
n =  int(input())
sum=0
for i in range(1,n+1):
  sum = sum + i**3
print(sum)

9
2025