<a href="https://colab.research.google.com/github/mahayel374-pixel/python-class-program/blob/main/lab4_input_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ["apple","banana","cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in range(2,6):
  print(x)

2
3
4
5

In [ ]:
for x in range(2,30,3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
for x in range(6):
  print(x)
else:
  print("finally finished")

0
1
2
3
4
5
finally finished

In [ ]:
fruites = ["apple"]
for x in fruites:
  print(x)
if x == "banana":
  break

apple

SyntaxError: 'break' outside loop (ipython-input-15-4085851013.py, line 5)

In [ ]:
for x in range(6):
  if x==3:
    break
  print(x)
else:
  print("finally finished")

0
1
2

In [ ]:
list1=["red","blue","green"]
list2=["apple","banana","cherry"]
for x in list1:
  for y in list2:
    print(x,y)
    print("\n")

red apple


red banana


red cherry


blue apple


blue banana


blue cherry


green apple


green banana


green cherry

In [ ]:
i=1
while i < 6:
  print(i)
  if i ==3:
    break
  i+=1

1
2
3

In [ ]:
i=0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
for x in [0,1,2]:
  pass

In [ ]:
n = int(input())
sum=0
for i in range(1,n+1):
  sum = sum+(i**3)
  print(sum)

10
1
9
36
100
225
441
784
1296
2025
3025

In [ ]:
n = int(input())
for x in range(n,0,-1):
  print(x)

5
5
4
3
2
1

In [ ]:
n = int(input())
sum=0
for x in range(2,n+1,2):
  sum = sum+(x**2)
  print(sum)

40
4
20
56
120
220
364
560
816
1140
1540
2024
2600
3276
4060
4960
5984
7140
8436
9880
11480

In [ ]:
for i in range(2000,2200):
  if(i%4==0 and i%100!=0)or(i%400==0):
    print(i)

2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096
2104
2108
2112
2116
2120
2124
2128
2132
2136
2140
2144
2148
2152
2156
2160
2164
2168
2172
2176
2180
2184
2188
2192
2196

In [ ]:
num = 1
for x in range(6):
  for y in range(x):
    print(num,end=" ")
    num=num+1
  print("\n")

1

2 3

4 5 6

7 8 9 10

11 12 13 14 15

In [ ]:
for i in range(1,6):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
for x in range(5,0,-1):
  for y in range(x,0,-1):
    print(y,end=" ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
n = int(input())
for i in range(n):
  for j in range(n-i-1):
    print(" ",end="")
  for k in range(i+1):
    print("*",end=" ")
  print()

5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
for x in range(6):
  for y in range(6-x-1):
    print(" ",end=" ")
  for z in range(x+1):
    print(z+1,end=" ")
  print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5
1 2 3 4 5 6

In [ ]:
s = "Python"
print(s[0:2])
print(s[2:])
print(s[:4])
print(s[::2])
print(s[::-1])

Py
thon
Pyth
Pto
nohtyP

In [ ]:
str1 = "Hello"
str2 = "world"
print(str1*3)
print(str1+str2)
print(str1[4])
print(str1[2:4])
print('w'in str1)
print('wo' not in str2)
print(r'Hello\n world')

HelloHelloHello
Helloworld
o
ll
False
False
Hello\n world

In [ ]:
str = "Java is object- oriented Java"
str1 = "python language"
str2 = "pyTHOn"
str3 = str.replace("Java","python")
print("old String:\t",str)
print("New String:\t",str3)
print(str2.lower())
print(str2.upper())
print(len(str1))

old String:	 Java is object- oriented Java
New String:	 python is object- oriented python
python
PYTHON
15

In [ ]:
str1 = "Python is a programming language"
str2 = str1.split()
print(str1);print(str2)
str1 = "Python,is,a,programming,language"
str2 = str1.split(sep=',')
print(str1);print(str2)

Python is a programming language
['Python', 'is', 'a', 'programming', 'language']
Python,is,a,programming,language
['Python', 'is', 'a', 'programming', 'language']