<a href="https://colab.research.google.com/github/mahayel374-pixel/python-class-program/blob/main/lab6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s = "hello world"
t = "Hello"
u = "python is fun"

In [ ]:
s = "hello world"
t = "HELLO"
u = "python is fun"
print(u.find("is"))
print(u.rfind("n"))
print(u.index("fun"))
print(u.rindex("n"))
print(u.count("o"))
print(u.startswith("py"))
print(u.endswith("fun"))

7
12
10
12
1
True
True

In [ ]:
s = "hello world"
t = "Hello"
u = "python is fun"
print(s.strip())
print(s.lstrip())
print(s.rstrip())
print("a\tb".expandtabs())
print("42".zfill(5))
print(u.center(20,"!"))
print(u.ljust(20,"^"))
print(u.rjust(20,"^"))
print(u.replace("fun","awesome"))

hello world
hello world
hello world
a       b
00042
!!!python is fun!!!!
python is fun^^^^^^^
^^^^^^^python is fun
python is awesome

In [ ]:
u = "python is fun"
print(u.split())
print(u.rsplit(" ",2))
print("one\ntwo".splitlines)
print(u.partition("is"))
print(u.rpartition("is"))
print("-".join(["2025","08","12"]))

['python', 'is', 'fun']
['python', 'is', 'fun']
<built-in method splitlines of str object at 0x7844392d13b0>
('python ', 'is', ' fun')
('python ', 'is', ' fun')
2025-08-12

In [ ]:
print("hello".encode())
print("My name is {}".format("Ishu"))
print("Nmae: {name}".format_map({"name":"Ishu"}))
table = str.maketrans("aeiou","12345")
print("hello".translate(table))
print("india".translate(table))

b'hello'
My name is Ishu
Nmae: Ishu
h2ll4
3nd31

In [ ]:
a = list()
b = list("amhi")
c = list((2,3,4))
d =list(range(5))
e = list({10,20,30})
print(a)
print(b)
print(c)
print(d)
print(e)

[]
['a', 'm', 'h', 'i']
[2, 3, 4]
[0, 1, 2, 3, 4]
[10, 20, 30]

In [ ]:
mylist = ['banana','apple','mange','tomato','berry']
print(mylist[0])
print(mylist[3:5])
print(mylist[-4:-2])
print(mylist[-1])
print(mylist[-3])

banana
['tomato', 'berry']
['apple', 'mange']
berry
mange

In [ ]:
num = [1,2,3,4,5]
lang = ['python','c','java','php']
print(num +lang)
print(num * 2)
print(lang[2])
print(lang[1:4])
print('cpp' in lang)
print(6 not in num)

[1, 2, 3, 4, 5, 'python', 'c', 'java', 'php']
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
java
['c', 'java', 'php']
False
True

In [ ]:
num = [1,2,3,4]
print(num)
num [2]= 30
print(num)
num [1:3] = [25,36]
print(num)
num[3] = "python"
print(num)

[1, 2, 3, 4]
[1, 2, 30, 4]
[1, 25, 36, 4]
[1, 25, 36, 'python']

In [ ]:
list1 = [1,2,3,4,5,6]
print("sum of list items :",sum(list1))

sum of list items : 21

In [ ]:
num = [7,34,7,3,9,54,7,1]
lang = ['java','c','python','cpp']
print(sorted(num))
print(sorted(lang))

[1, 3, 7, 7, 7, 9, 34, 54]
['c', 'cpp', 'java', 'python']

In [ ]:
num = [1,2,3,4,5]
lang = ['python','java']
num.append(6)
print(num)
lang.append("cpp")
print(lang)

[1, 2, 3, 4, 5, 6]
['python', 'java', 'cpp']

In [ ]:
list1 =[1,2,3,4,5]
list2 = ['A','B','C','D']
list1.remove(2)
print(list1)
list2.remove('B')
print(list2)

[1, 3, 4, 5]
['A', 'C', 'D']

In [ ]:
list1=[23,6,2,8,4,0,2]
list1.sort()
print("After Sorting: ")
print(list1)
print("Descebding Order:")
list1.sort(reverse=True)
print(list1)

After Sorting:
[0, 2, 2, 4, 6, 8, 23]
Descebding Order:
[23, 8, 6, 4, 2, 2, 0]

In [ ]:
list1 = [4,7,5,8,9,]
list1.reverse()
print("After reverse:")
print(list1)

After reverse:
[9, 8, 5, 7, 4]

In [ ]:
num = [1,2,3,4,4,6,2,7,8,1,2,3,5,6,4,7,8,9,0,3,4,5,6,5,8,3,5,7,9,0]
cnt = num.count(2)
print("count of 2 is:",cnt)
cnt = num.count(10)
print("count of 10 is:",cnt)

count of 2 is: 3
count of 10 is: 0

In [ ]:
list1 = ['p','y','t','o','n','p']
print(list1.index('t'))
print(list1.index('p'))
print(list1.index('p',3,10))
print(list1.index('z'))

2
0
5

ValueError: 'z' is not in list

In [ ]:
num = [10,20,30,40]
num.insert(4,60)
print(num)
num.insert(7,70)
print(num)

[10, 20, 30, 40, 60]
[10, 20, 30, 40, 60, 70]

In [ ]:
num = [10,20,30,40]
num.pop()
print(num)
num.pop(2)
print(num)
num.pop(7)
print(num)

[10, 20, 30]
[10, 20]

IndexError: pop index out of range

In [ ]:
num = [1,3,2,4,5,6]
num.clear()
print(num)

[]

In [ ]:
x = [1,2,3,4]
y = [5,6,7,8]
x.extend(y)
print(x)
print(y)

[1, 2, 3, 4, 5, 6, 7, 8]
[5, 6, 7, 8]

In [ ]:
x = [1,2,3]
y = x.copy()
print("x:",x)
print("y:",y)

x: [1, 2, 3]
y: [1, 2, 3]