<a href="https://colab.research.google.com/github/mahayel374-pixel/python-class-program/blob/main/lab8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#tupledemo.py
t1 = ("Mahalakshmi","P7",18,"CSE")
print(t1)

('Mahalakshmi', 'P7', 18, 'CSE')

In [ ]:
mytuple = ['Mahalakshmi','P7',18,'CSE','Vijayawada']
print(mytuple[-1])
print(mytuple[3])
print(mytuple[4])
print(mytuple[-2])

Vijayawada
CSE
Vijayawada
CSE

In [ ]:
student = ('Mahalakshmi','P7',18,'CSE','poranki')
student2 = ('sruthi','N8',18,'CSE','Vijayawada')
print(student + student2)
#print(student * student2)
print(student[4])
print(student2[3])
print(student2[1:3])
#student[4] = "good" #'tuple' object does not support item assignment
#print(student)

('Mahalakshmi', 'P7', 18, 'CSE', 'poranki', 'sruthi', 'N8', 18, 'CSE', 'Vijayawada')
poranki
CSE
('N8', 18)

In [ ]:
stu = ('Mahalakshmi','P7',18,'CSE','poranki')
print(stu)
del stu
#print(stu) #NameError: name 'stu' is not defined

('Mahalakshmi', 'P7', 18, 'CSE', 'poranki')

In [ ]:
stu = ('Mahalakshmi','P7',18,'CSE','poranki')
print("the tuple items are \n")
for i in stu:
  print (i)

the tuple items are

Mahalakshmi
P7
18
CSE
poranki

In [ ]:
stu1 = ('Mahalakshmi','P7','good','CSE','poranki')
stu2 = (90,80,60,100,80)
print(max(stu1))
print(min(stu1))
print(max(stu2))
print(min(stu2))

poranki
CSE
100
60

In [ ]:
stu = (90,80,60,100,80)
print(sum(stu))

410

In [ ]:
str = "python"
t1 = tuple(str)
print(t1)
num = [1,2,3,4,5,6]
t2 = tuple(num)
print(t2)

('p', 'y', 't', 'h', 'o', 'n')
(1, 2, 3, 4, 5, 6)

In [ ]:
num = (1,2,3,4,5,6,1,2,3,4,5,6,7,8,9,0,1,2,4,6,3,6,8,9,3,6,2,7,4,7,5,3,1,2,5,6)
cnt = num.count(2)
print(cnt)
cnt = num.count(6)
print(cnt)

5
6

In [ ]:
t1 = ('p', 'y', 't', 'h', 'o', 'p')
print(t1.index('p'))
print(t1.index('t'))
print(t1.index('o'))
print(t1.index('h'))
print(t1.index('y'))
print(t1.index('p',3,10))
print(t1.index('p',2,10))
#print(t1.index('x')) #ValueError: tuple.index(x): x not in tuple

0
2
4
3
1
5
5

In [ ]:
stu1 = ('Mahalakshmi','P7',18,'CSE','poranki')
stu2 = ('sruthi','N8',18,'CSE','Vijayawada')
print(stu1 + stu2)

('Mahalakshmi', 'P7', 18, 'CSE', 'poranki', 'sruthi', 'N8', 18, 'CSE', 'Vijayawada')

In [ ]:
amer1 = "Mahalakshmi"
Age1 = 18
Rollnum1 = "P7"
Branch1 = "CSE"
Address1 = "Poranki"
member1 = [Namer1,Age1,Rollnum1,Branch1,Address1]
print(member1)
name2 = "Sruthi"
Age2 = 18
Rollnum2 = "N8"
Branch2 = "CSE"
Address2 = "Vijayawada"
member2 = [name2,Age2,Rollnum2,Branch2,Address2]
print(member2)
print(member1 + member2)

['Mahalakshmi', 18, 'P7', 'CSE', 'Poranki']
['Sruthi', 18, 'N8', 'CSE', 'Vijayawada']
['Mahalakshmi', 18, 'P7', 'CSE', 'Poranki', 'Sruthi', 18, 'N8', 'CSE', 'Vijayawada']

In [ ]:
def count_vowels(string):
  vowels = 'aeiouAEIOU'
  return sum(string.count(vowel) for vowel in vowels)
Name = "Mahalakshmi"
print(" No.of vowels",Name.count('a'))
print(" No.of vowels",Name.count('e'))
print(" No.of vowels",Name.count('i'))
print(" No.of vowels",Name.count('o'))
print(" No.of vowels",Name.count('u'))
print("No.of vowels",count_vowels(Name))

 No.of vowels 3
 No.of vowels 0
 No.of vowels 1
 No.of vowels 0
 No.of vowels 0
No.of vowels 4

In [ ]:
numberset = {1,2,3,4,3,2}
print(numberset)
emptyset = {}
print(type(emptyset))
emptyset = set()
print(type(emptyset))

{1, 2, 3, 4}
<class 'dict'>
<class 'set'>

In [ ]:
numberset = set([1,2,3,4,5,6])
print(type(numberset))

<class 'set'>

In [ ]:
my_set = set()
my_set.update([9,12])
my_set.update([10,11])
my_set.update("Mahalashmi")
print(my_set)
my_set.add(4)
print(my_set)
my_set.update("INDIA","BHARAT")
print(my_set)
#my_set.update(6,5) #Name = "Mahalakshmi"
my_set.discard(15)
print(my_set)
my_set.remove(6)
print(my_set)

{'a', 'h', 'l', 9, 10, 11, 12, 's', 'm', 'M', 'i'}
{'a', 'h', 4, 'l', 9, 10, 11, 12, 's', 'm', 'M', 'i'}
{'h', 4, 'B', 'l', 9, 10, 11, 12, 'I', 'A', 'T', 'D', 'i', 'a', 'N', 'm', 'M', 'R', 'H', 's'}
{'h', 4, 'B', 'l', 9, 10, 11, 12, 'I', 'A', 'T', 'D', 'i', 'a', 'N', 'm', 'M', 'R', 'H', 's'}

KeyError: 6

In [ ]:
my_set = set("apple")
print('a' not in my_set)
print('p' not in my_set)

False
False

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A | B)
print(A.union(B))
print(B.union(A))
print(A & B)
print( A - B)
print( A & B)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{4, 5}

In [ ]:
stuList = {'maha','sruthi','chaitu','Anu'}
placedStuList = ["sruthi","Anu"]
notplacedStuList = set(stuList) - set(placedStuList)
print("Students yet to get job \n")
print(notplacedStuList)

Students yet to get job

{'chaitu', 'maha'}

In [ ]:
WAY = ["Ahkil","Hemesh","Hemanth"]
RCB = ["Ahkil","Hemesh","Hemanth","Mohit","Akash"]
allrounders = set(WAY) & set(RCB)
print(allrounders)

{'Ahkil', 'Hemanth', 'Hemesh'}

In [ ]:
chocolate = ["Maha","chaitu"]
chicken = ["Maha","sruthi","Anu"]
crab = ["Maha","sruthi"]
#choco_chicken = set(chocolate) & set(chicken)
#print(choco_chicken)
liked = set(chocolate) | set(chicken) | set(crab)
print(liked)
print(len(liked))

{'chaitu', 'Maha', 'sruthi', 'Anu'}
4

In [ ]:
s1 = set()
s1.update([1,2,3,4,5])
print(s1)
s2 = {31,44,56,78}
print(s1&s2)
s1.update(s1-s2)
print(s1)
s1.clear()
s2.clear()
print(s1,s2)

{1, 2, 3, 4, 5}
set()
{1, 2, 3, 4, 5}
set() set()